body {
background-image: url(img/___spirited_away_haku_dragon____by_cupkate98_dduaxpu-fullview.jpg);
    color: #1d2731;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 50px;
    
}

p {
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
}

#firstTitle {
    text-align: left;
    font-family: 'Montserrat', sans-serif;
}

#secondTitle {

    text-align: right;

}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    background-color: white;
}

nav {
    display: flex;
    flex-direction: row;
    flex-basis: auto;
    padding: 10px;
    justify-content: right;
    border-radius: 10px;
    margin:3%
}



#totoro {
    width: 10%;
}

.filmCard {
    padding: 20px;
    margin-left: 20px;
}


#myModal {
    visibility: visible;
    font-weight: bolder;
    text-align: left;
}

.overlay {

    background: rgba(0, 0, 0, 0.9);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.overlay.active {
    visibility: visible;
}

.popup, .popup:target {

    border-radius: 3%;
    background-image: url(img/fondoModal.png);
    background-size: 100% 100%;
    box-shadow: rgba(0, 0, 0, 0.822);
    font-family: sans-serif;
    padding: 20px;
    flex-direction: column;
    align-content: space-between;
    width: 75%;
    height: 75%;
    text-align: justify;
}





#hayaoGif {
    height: 50%;
    width: 40%;
    border-radius: 3%;
    float: right;
    margin: 3%;
}

.popup .btn-cerrar-popup {

    font-size: 150%;
    line-height: 20%;
    display: block;
    text-align: right;
}

.popup .btn-cerrar-popup:hover {
    color: rgb(33, 11, 238);
}



footer {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    padding: 2%;
    margin-top: 2%;
    background-color: rgba(118, 129, 243, 0.082);
    font-size: 13px;
}



div a#backToTop {

    color: rgb(7, 3, 10);
}

.divBackToTop {
    text-align: right;
    margin-top: 10px;

}



#conteinerFilms {
    background-color: rgba(1, 1, 17, 0.863);
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    font-weight: bolder;
    border: 5px solid  white;
    border-radius: 10px;
    margin: 1%;

}


.wrapTarget {
    margin: 2%;
    -webkit-perspective: 800;
    perspective: 800;

}

.target {
    width: 350px;
    height: 400px;
    position: relative;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transition: .7s ease;
    transition: .7s ease;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: auto;
    margin: 5%;
    background-color: white;
    border-radius: 3%s;
   
}

.filmCard, .informationCard {

    width: 350px;
    height: 410px;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: auto;
    
   
    

}



.imgPoster {
    width: 350px;
    height: 410px;
    border-radius: 3%;
    border: 8px solid  white;
    
}

.filmCard {
    text-align: center;
    flex-direction: column;
    justify-content: center;
    border-radius: 3%;
    
}

.informationCard {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
    padding-bottom: 25px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    color: black;
    font-family: 'Montserrat', sans-serif;
    justify-content: center;
    background-color: rgb(253, 247, 247);
    flex-direction: column;
    border-radius: 3%;
    font-size: 110%;
    text-align: justify;
    width: 360px;
    
    


}

.target:hover {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
    cursor: pointer;
}


.btnNav{
    border-radius: 4%;
    background-color: rgba(240, 240, 247, 0.897);
    flex-direction: row;
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    border-radius: 4%;
    font-size: 110%;


}

#containerFilters{
    flex-direction: row;
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
}



.btnNav:hover {
    background-color: white;
    border-color: 7px solid rgb(8, 238, 238);

}

.FilterYearcheck, .FilterDirectorcheck {
    flex-direction: row;
    order: 2;
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    border-radius: 3%;
    height: 80%;
    width: 80%;
}

/* @media screen and (max-width: 320px){
    .card {
    width: 260px;
    height: 350px;
    margin: 20px 11px;
  }
  
  .to-top {
    right: 19px;
    width: 45px;
    height: 45px;  
  }
  
  .to-top.active {
    bottom: 26px;
  }
  
  } */

  
/* Diseño para tabletas */ 
@media screen and (min-width: 800px) {
	#columna1, #columna2 {
		float:left;
		width:50%;
	}
}

/* Diseño para PC */ 
@media screen and (min-width: 1025px) {
	#columna1, #columna2, #columna3 {
	float:left;
	width:33%;
}
}