body {
  
    background-image: url(img/marnie021.jpg);
    background-size: 100% 100%;
    padding: 50px;
}

#firstTitle{
    text-align: left;
    font-family: 'Montserrat', sans-serif;
}
#secondTitle{

    text-align: right;

}

header{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    background-color: white;
    border-radius: 10px;
}
nav{
    display: flex;
    flex-direction: row;
    flex-basis: auto;
  background-color: rgba(241, 197, 239, 0.541);
    /* border: 5px solid rgba(241, 197, 239, 0.541); */
    
    padding: 10px;
    justify-content: right;
    border-radius: 10px;
}
#totoro{
 width: 10%;
}

#conteinerFilms{
    background-color:rgba(255, 255, 255, 0.589);
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    font-weight:bolder;
    border: 5px solid rgba(136, 61, 132, 0.541);
    border-radius: 10px;
}

.filmCard{
    padding: 20px;
    margin-left: 20px;
}

.filmCard:hover{
    cursor: pointer;
   
}

#myModal{
    visibility:visible;
}

.overlay {

    background: rgba(0, 0,0,0.3);
    position: fixed;
    top:0;
    bottom:0;
    left:0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    /* visibility: hidden; */
    }
    .overlay.active {
    
        visibility: visible;
    }
    
    .popup{
    background: #f7d8d8;
    box-shadow: 0px 0px 5px 0px rgba(0, 0,0,0.5);
    border-radius: 3px;
    font-family:sans-serif;
    padding: 20px;
    text-align: center;
    /* width: 300px; */
    transition: .3s;
    }
    .popup .btn-cerrar-popup {
    
    font-size: 16px;
    line-height: 16px;
    display: block;
    text-align: right;
    color: rgba(238, 13, 118, 0.733);
    transition: .3s ease all;
    }
    .popup .btn-cerrar-popup:hover{
        color: black;
    }
    
    .popup form .btn-submit {
    
        padding: 0 20px;
        height: 40px;
        line-height: 40px;
        border:none;
        color:#fff;
        background: #4e704f;
        border-radius: 3px;
        cursor:pointer;
        transition: .3s ease all;
    }
    
    .popup form .btn-submit:hover{
    background: #204220;
    
    
    }

footer {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight:bolder;
    padding: 2%;
    margin-top: 2%;
    background-color: rgba(118, 129, 243, 0.5);
    font-size: 13px;
}

   select {
       border-radius: 5px;
       display:block;
      margin-left: 8px;
       height:42px;
       /* background-color: rgba(235, 164, 245, 0.5); */
   }
   select:hover{
       background-color:rgba(228, 118, 243, 0.9); ;
   }
   
   
   div a#backToTop{

    color: rgb(7, 3, 10);
   }
   .divBackToTop{
       text-align: right;
       margin-top: 10px;

   }